@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@theme {
  /* Her tilføjes theme variable // tokens */

  /*custom cursor*/
  --handcursor: url(/cursor.svg) 25 25, pointer;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  /*Tobii mods*/
  .tobii-zoom {
    width: 100%;
  }
  .tobii__slide figure > img {
    padding-bottom: 50px;
  }

  /* iframe {
      max-width: 90%;
      margin: auto;
  } */

  .tobii {
    background-color: black;
  }
}

@layer components {
}
@layer utilities {
}

.stick-regular {
  font-family: "Stick", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.beige-bg {
  background: #ebdfd3;
}

.orange-bg {
  background-color: #b96942;
}

.green-bg {
  background-color: #7f8459;
}

.blue-bg {
  background-color: #8ba2a6;
}

.yellow-bg {
  background-color: #dcb488;
}

.orange {
  color: #b96942;
}

.beige {
  color: #dcb488;
}

.green {
  color: #7f8459;
}
